.content{
    border: 1px solid #282c34;
    width: 265px;
    padding: 2px 15px;
    margin: 2px 15px;
    background-color: #F6F6F6;
}
.content:hover{
    box-shadow: 0 0 5px 2px #282c34;
    cursor: pointer;
}
.title{
    font-size: 26px;
}