table{
    width: 100%;
     border-collapse: collapse;
}
tr, td{
    border: 1px solid red;
}
input:not[type="radiobutton"]{
    width: 250px;
}
select{
    width: 250px;
}
.range{
    width: 100px;
}

