body {
  margin: 0;
  font-family: Amatic_SC;
  font-size: 22px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Amatic_SC';
  font-style: normal;
  font-weight: 700;
  src: local('Amatic_SC'), local('Amatic_SC');
}
*[class^="btn"] {
  border: 1px solid cornflowerblue;
  border-radius: 5px;
  background-color: aliceblue;
  width: 30%;
  padding: 5px 20px;
  text-align: center;
  cursor: pointer;
  margin: auto;
}
