body {
  margin: 0;
  font-family: Amatic_SC;
  font-size: 22px;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@font-face {
  font-family: 'Amatic_SC';
  font-style: normal;
  font-weight: 700;
  src: url('resources/Amatic_SC/AmaticSC-Regular.ttf') format('truetype');
  src: local('Amatic_SC'), local('Amatic_SC'),
  url('resources/Amatic_SC/AmaticSC-Regular.ttf') format('truetype');
}
